<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pip">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/pip"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pip"
        android:supportsRtl="true"
        android:theme="@style/Theme.Twitter">
        <activity
            android:name=".following_follower_AnotherProfile"
            android:exported="true"
            android:parentActivityName=".twitpage"/>
        <activity
            android:name=".Following_Follower_Activity"
            android:exported="true"
            android:parentActivityName=".User_profile_visit" />
        <activity
            android:name=".pip_view"
            android:exported="true"
            android:parentActivityName=".twitpage" />
        <activity
            android:name=".aboutapp"
            android:exported="true"
            android:parentActivityName=".settingsAnsPrivercy" />
        <activity
            android:name=".feedback"
            android:exported="true"
            android:parentActivityName=".settingsAnsPrivercy" />
        <activity
            android:name=".settingsAnsPrivercy"
            android:exported="false" />
        <activity
            android:name=".Visit_Another_profile"
            android:exported="false" />
        <activity
            android:name=".User_profile_visit"
            android:exported="true"
            android:parentActivityName=".twitpage"/>
        <activity
            android:name=".pip_splash_screen"
            android:exported="false" />
        <activity
            android:name=".EditUserProfileActivity"
            android:exported="true" />
        <activity
            android:name=".userComment"
            android:exported="false" />
        <activity
            android:name=".twittingpageUser"
            android:exported="false" />
        <activity
            android:name=".twitpage"
            android:exported="true" />
        <activity
            android:name=".AccountCreate"
            android:exported="true"
            android:parentActivityName=".account" />
        <activity
            android:name=".loginActivity"
            android:parentActivityName=".account" />
        <activity
            android:name=".account"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>